<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>swifui-playground.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>08A37F4B2C4C9369008BA3EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08A37F5B2C4C9370008BA3EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08A37F652C4C9370008BA3EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
